.collapsible-body {
  background-color: white;
}

.card-center
{
  background-color: white;
  position: relative;
  margin: 0 auto;
}

body {
    color: #555;
    background-color: #f5f5f5;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #1976d2 !important;
}