{% extends "layout.html" %}
{% set active_page = 'dashboard' %}

{% block body %}

<body>

	<div class="container">
		<div class="row">
			<div class="col s6 ">

				<!-- FONCTION uploadData() -->
				<div style="margin-bottom:20px; margin-top:40px;">

					<h5 class=" thin blue-text text-accent-2">
						<i class="material-icons grey-text  right" style="font-size: 24px;">description</i> 
						uploadData(<i>tableName</i>)
					</h5>
					<span style="position:relative; left:10px; ">Fonction permettant de transformer un fichier excel en données utilisables par l'application.</span>

				</div>

				<!-- CARD TABLENAME -->
				<div class="card-panel" style="height: 170px;">

					<form action=" {{url_for('upload_xlsx') }}"  method="post"  enctype="multipart/form-data"> 

						<i> <p class="right" style="margin-top:0px; font-size: 11px;" >Merci de fournir un fichier au format *.xls(x).</p> </i>
						<br/><br/>

						<div class="file-field input-field">      

							<div class="waves-effect btn white darken-2">
								<span>
									<i class="material-icons black-text">attach_file</i>
								</span>
								<input id="file_id" type="file" name="file">

							</div>

							<div class="file-path-wrapper">
								<input id='gridId'  class="file-path validate" type="text" name="filePath">
							</div>
							<div class="row">
								{% with messages = get_flashed_messages() %}
								{% if messages %}

								<ul class="collection oast" style="position: absolute; left: -100px;  ">
									<li class="collection-item dismissable oast">
										{% for message in messages %}
										<div>{{message}}
											<a href="#!" class="secondary-content"><i  class=" material-icons black-text" style="position:relative; right:-10px; top:-1px;">clear</i>
											</a>
										</div>
										{% endfor %}
									</li>
								</ul>


								{% endif %}
								{% endwith %}
								<div class="col s1 offset-s11" style="position:relative;  top:-55px; left:-13px;">


									<button class="btn btn-raised blue lighten-1 " type="submit" style="width:30px; "> 
										<i class="material-icons" style="position:relative; right:10px;">add_to_queue</i>  
									</button>
								</div>
							</div>
						</div>


					</form>
				</div>

				<!-- FONCTION uploadData() -->
				<div style="margin-bottom:20px; margin-top:40px;">

					<h5 class=" thin blue-text text-accent-2">
						<i class="material-icons grey-text  right" style="font-size: 24px;">add_circle</i> 
						getPricingPolicy(<i>parkingName</i>)
					</h5>
					<span style="position:relative; left:10px; ">Fonction permettant de générer une grille tarifaire utilisable par l'application. </span>

				</div>

				<!-- CARD TABLENAME -->
				<div class="card-panel" style="height: 100px;">
					<form action="" method="post"  enctype="multipart/form-data"> 


						<center>
							<a href="{{ url_for('json_page') }} ">
								<i class="material-icons medium blue-text text-accent-2" >timelapse</i>
							</a>
						</center>

					</form>
				</div>      

			</div>
			<!-- /LEFT-COL -->
			<!-- RIGHT-COL -->
			<div class="col s5 offset-s1">
				<!-- FONCTION uploadData() -->
				<div style="margin-bottom:20px; margin-top:40px;">

					<h5 class=" thin red-text text-accent-4 ">
						<i class="material-icons grey-text right" style="font-size: 24px;">delete</i> 
						deleteData(<i>tableName</i>)
					</h5>

					Fonction permettant de supprimer des données de fréquentations. <br/>
					<span class="right" ><i class="material-icons red-text text-accent-1" style="position:relative; top:6px;">warning</i> Attention, cette opération est irrévocable.</span>
				</div> 

				<!-- CARD TABLENAME -->
				<div class="card-panel" style="height: 100px; margin-top:60px;">
					<form action=" {{ url_for('delete_xlsx') }}" method="post" >


						<div class="input-field col s12">
							<select id='deleteXlsx'  name="deleteTable" class="blue-text text-darken-3">
								<!-- <option value="" disabled  selected>Mois</option> -->

								{% if dataTransactions|length < 3%}
								<option value="empty">Aucun mois disponible</option>
								{% endif %}
								{% for o in dataTransactions %}


								{% for p in o if not (p == "sqlite_sequence" or p == "debug") %}


								<option value="{{p}}"> {{ p|capitalize }}</option>

								{% endfor %}
								{% endfor %}

								{% if dataTransactions|length > 4%}
								<option value="everything">Tous</option>
								{% endif %}


							</select>

							<label>Quel mois souhaitez-vous supprimer?</label>
						</div>
						<button class="btn btn-raised red accent-1 " type="submit" style="position: relative; bottom:10px; right:-300px; width:30px; "> 
							<i class="material-icons" style="position:relative; left:-8px;">delete_forever</i>  
						</button>

					</form>
				</div>             

				<div style="margin-bottom:20px; margin-top:59px;">

					<h5 class=" thin red-text text-accent-4 ">
						<i class="material-icons grey-text right" style="font-size: 24px;">delete</i> 
						deleteData(<i>parkingName</i>)
					</h5>

					Fonction permettant de supprimer des grilles tarifaires.<br/>

					<span class="right"><i class="material-icons red-text text-accent-1" style="position:relative; top:6px;">warning</i> Attention, cette opération est irrévocable.</span>
				</div> 

				<!-- CARD PARKINGNAME -->
				<div class="card-panel" style="position:relative; height: 100px; top:20px; margin-top:37px";>
					<form action=" {{ url_for('delete_json') }}" method="post" >


						<div class="input-field col s12">
							<select id='deleteJson'  name="deleteParking" class="blue-text text-darken-3">
								<!-- <option value="" disabled  selected>Mois</option> -->
								{% if dataPricing|length < 2%}
								<option value="empty">Aucune grille disponible</option>
								{% endif %}
								
								{% for o in dataPricing %}

								{% for p in o if not (p == "sqlite_sequence" or p == "debug") %}


								<option value="{{p}}"> {{ p|capitalize }}</option>

								{% endfor %}
								{% endfor %}

								{% if dataPricing|length > 3%}

								<option value="everything">Toutes</option>
								{%endif%}
							</select>

							<label>Quelle grille souhaitez-vous supprimer?</label>
						</div>
						<button class="btn btn-raised red accent-1 " type="submit" style="position: relative; bottom:10px; right:-300px; width:30px; "> 
							<i class="material-icons" style="position:relative; left:-8px;">delete_forever</i>  
						</button>

					</form>
				</div>   
			</div>
		</div>
	</div>

</body>

{% endblock %}